.col-md-12
  %table.table
    %thead
      %tr.well
        %th.col-sm-4 Tasks
        %th.col-sm-4 Date
        %th.col-sm-4
          = link_to 'New',  new_task_path, class: 'btn btn-default'
    %tbody
      - recent_tasks.reverse.each { |t|
      %tr
        %td 
          = link_to t.sbox, task_path(t)
        %td
          = t.created_at
          - } 
